{% extends 'base.html.twig' %}

{% block title %}Laisser un avis | {{ parent() }} {% endblock %}


{% block body %}

<h1 class="text-center">Laisser un avis</h1>
<div class="container">
<div class="row justify-content-center py-5">
<article>
    <h2 class="text-center">{{ produit.nomproduit }}</h2>

        <img class="center-block" src="{{ produit.image }}" alt="">
    <div class="content">
        {{ produit.description | raw }}
    </div>
</article>
</div>
</div>


{% if app.user %}
<div class="container">
<div class="row justify-content-center py-5">

{{ form_start(avisForm) }}
{{ form_row(avisForm.contenu, {'label': 'Laisser un avis', 'attr': {'style': 'width:350px; height:250px' , 'placeholder': "Vous avez goûté? Dites-nous ce que vous en avez pensé!"}}) }}
<button type="submit" class="btn btn-success" onclick="return(confirm('Etes-vous sûr de vouloir poster cet avis ?'));">Laisser un avis</button>
<a href="{{ path('shop_show', {'id': produit.id}) }}" class="btn btn-secondary mx-2">Retour</a>
{{ form_end(avisForm) }}

</div>
</div>

{% else %}

<div class="container">
    <div class="row justify-content-center py-3">
        <p>Vous ne pouvez pas laisser d'avis si vous n'êtes pas connecté!</p>
    </div>
    <div class="row justify-content-center">
        <a href="{{ path('security_connexion') }}" class="btn btn-primary">Se connecter</a>
    </div>
</div>

{% endif %}

{% endblock %}