{% extends 'base.html.twig' %}

{% block title %}Nous contacter | {{ parent() }} {% endblock %}

{% block body %}


    <h1 class="text-center">Nous contacter</h1>
<div class="container">
    <div class="row justify-content-center">
        {{ form(contactForm) }}
    </div>
</div>
{% endblock %}