{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %}

<header class="masthead">
    <div>
        <div class="container">
            <div class="brand row justify-content-center align-items-center">
                <div class="logo col-lg-2">
                    <img class="img-fluid" src="{{ asset('/img/logo.png') }}" alt="logo"/>
                </div>
                <div class="col-lg-6">
                    <h1 class="text-center brand-title text-responsive">L'apéro des potes</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container">
        <h2>Bienvenue à l'apéro des potes!</h2>
        <h3>Le nouveau condiment bio, local et plein de pep's!<h3>
        <h4>Pickle your life !</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                 Aenean pharetra lacus quam, nec dapibus enim ultrices eget. Duis sollicitudin,
                  justo vitae convallis efficitur, odio metus porta nisl, vel finibus arcu nisl vitae erat.
                   Praesent efficitur orci vitae elit aliquam tempus. Donec interdum purus in leo luctus,
                 sit amet tincidunt massa tempor. Duis tellus tortor, ultricies sed congue id, viverra sit amet massa.</p>
        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut et velit luctus, mattis leo sed, pellentesque est.
                   Nulla nibh nibh, consectetur id libero vitae, elementum ultrices turpis.
                    Nam bibendum non nulla eu gravida. Maecenas sollicitudin, neque quis molestie molestie, quam turpis fringilla enim,
                     laoreet volutpat nunc turpis a sapien. Aliquam non tristique turpis. Nam vehicula lacus eu maximus malesuada.</p>
    </div>
</section>

{% endblock %}