{% extends 'base.html.twig' %}

{% block title %}Nos produits | {{ parent() }} {% endblock %}


{% block body %}

<div class="container about">

    <div class="row cadre">
        <div class="col-lg-6 col-md-12">
            <h2 class="text-uppercase text-center">
                <span>Nos produits</span></h2>
            <div class="paragraph">
                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                 Aenean pharetra lacus quam, nec dapibus enim ultrices eget. Duis sollicitudin,
                  justo vitae convallis efficitur, odio metus porta nisl, vel finibus arcu nisl vitae erat.
                   Praesent efficitur orci vitae elit aliquam tempus. Donec interdum purus in leo luctus,
                 sit amet tincidunt massa tempor. Duis tellus tortor, ultricies sed congue id, viverra sit amet massa.</p>
                <p class="para">Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut et velit luctus, mattis leo sed, pellentesque est.
                   Nulla nibh nibh, consectetur id libero vitae, elementum ultrices turpis.
                    Nam bibendum non nulla eu gravida. Maecenas sollicitudin, neque quis molestie molestie, quam turpis fringilla enim,
                     laoreet volutpat nunc turpis a sapien. Aliquam non tristique turpis. Nam vehicula lacus eu maximus malesuada.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="image">
                <img src="/img/pickles4.jpg" alt="" class="img-fluid" width=500>
            </div>
        </div>
    </div>

    <div class="row cadre">
        <div class="col-lg-6 col-md-12">
            <div class="image">
                <img src="/img/vege.jpg" alt="" class="img-fluid" width=500>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <h2 class="text-uppercase text-center">
                <span>Nos valeurs</span></h2>
            <div class="paragraph">
                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                 Aenean pharetra lacus quam, nec dapibus enim ultrices eget. Duis sollicitudin,
                  justo vitae convallis efficitur, odio metus porta nisl, vel finibus arcu nisl vitae erat.
                   Praesent efficitur orci vitae elit aliquam tempus. Donec interdum purus in leo luctus,
                 sit amet tincidunt massa tempor. Duis tellus tortor, ultricies sed congue id, viverra sit amet massa.</p>
                <p class="para">Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut et velit luctus, mattis leo sed, pellentesque est.
                   Nulla nibh nibh, consectetur id libero vitae, elementum ultrices turpis.
                    Nam bibendum non nulla eu gravida. Maecenas sollicitudin, neque quis molestie molestie, quam turpis fringilla enim,
                     laoreet volutpat nunc turpis a sapien. Aliquam non tristique turpis. Nam vehicula lacus eu maximus malesuada.</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}
