{% extends 'base.html.twig' %}

{% block title %}Shop | {{ parent() }} {% endblock %}


{% block body %}

<h1 class="text-center">La boutique</h1>

<div class="container">
    <div class="row justify-content-left py-3">

{% for produit in produits %}

        <div class="col-12 col-sm-12 col-md-6 py-3">
            <section class="produits py-3">
                <article>
                    <h2>{{ produit.nomproduit }}</h2>
                    <div class="col py-3">
                        <img class="img-fluid imgproduit" src="{{ produit.image }}" alt="">
                    </div>
                    <div class="col py-3">
                        {{ produit.description | raw }}
                    </div>
                    <div class="col py-3">
                        <a href="{{ path('shop_show', {'id': produit.id}) }}" class="btn btn-primary">Lire la suite</a>
                {% if(app.user and produit.stock > 0) %}
                        <a href="{{ path('shop_add', {'id': produit.id}) }}" class="btn btn-danger mx-2">Ajouter au panier</a>
                {% endif %}
                {% if(produit.stock < 1) %}
                        <span class="mx-2">Produit indisponible!</span>
                {% endif %}
                    </div>
                </article>
            </section>
        </div>
{% endfor %}

    </div>
</div>


{% endblock %}