{% extends 'base.html.twig' %}

{% block title %}Shop | {{ parent() }} {% endblock %}


{% block body %}

<h1 class="text-center py-5">Détails du produit</h1>
    <div class="container-fluid mx-5 py-3">
        <div class="row justify-content-center">
            <article>
                <h2 class="text-center py-2">{{ produit.nomproduit }}</h2>
                    <img class="img-fluid imgdetail" src="{{ produit.image }}" alt="">
                <div class="py-2">
                    <span>Description : </span>{{ produit.description | raw }}
                </div>
                <div class="py-2">
                    <span>Composition, provenance : </span>{{ produit.compo | raw }}
                </div>
                <div class="py-2">
                    <span>Quantité en stock : </span>{{ produit.stock }}
                </div>
                <div class="py-2">
                    <span>Prix : </span>{{ produit.prix }}<span>€ le pot de </span>{{ produit.conditionnement }}<span>grammes.</span>
                </div>
                <div class="py-2">
                {% if(app.user and produit.stock > 0) %}
                    <a href="{{ path('shop_add', {'id': produit.id}) }}" class="btn btn-danger mx-2">Ajouter au panier</a>
                {% endif %}
                {% if(produit.stock < 1) %}
                <span class="mx-2">Produit indisponible!</span>
                {% endif %}
                    <a href="{{ path('shop_voiravis', {'id': produit.id}) }}" class="btn btn-primary mx-2">Voir les avis</a>
                    <a href="{{ path('shop_avis', {'id': produit.id}) }}" class="btn btn-success mx-2">Laisser un avis</a>
                    <a href="{{ path('shop') }}" class="btn btn-secondary mx-2">Retour</a>
                </div>
            </article>
        </div>
    </div>
{% endblock %}