{% extends 'base.html.twig' %}

{% block title %}Avis | {{ parent() }} {% endblock %}


{% block body %}
<div class="container py-3">
    <h1 class="text-center">Avis des clients</h1>
        <div class="row justify-content-center">
            <article>
                <h2 class="text-center">{{ produit.nomproduit }}</h2>
                    <img src="{{ produit.image }}" alt="">
                <div class="content">
                    {{ produit.description | raw }}
                </div>
                <a href="{{ path('shop_show', {'id': produit.id}) }}" class="btn btn-secondary">Retour</a>
            </article>
    </div>
</div>
<div class="container py-3">


<h2 class="text-center">{{ produit.avisClient | length }} avis</h2>
    <div class="row py-4 justify-content-center">
            {% for avis in avis %}

            {% if (avis.valide) %}

    <div class="col-4">
        <article>
            <h3>{{ avis.user.prenom }}</h3>
                <div class="content">
                <span>Posté le : {{ avis.date | date('d/m/Y')}}</span>
                </br>
                    {{ avis.contenu | raw }}
                </div>
        </article>
    </div>


            {% endif %}

            {% endfor %}

</div>

{% endblock %}