{% extends 'base.html.twig' %}

{% block title %}Mon compte | {{ parent() }} {% endblock %}

{% block body %}

<h1 class="text-center">Mon compte</h1>

    <div class="container py-3">

        <div class="row justify-content-center">

            <div class="col-lg-4 col-md-12">

            <h2 class="text-center">Mes informations</h2>

                <p>
                <span>Nom :</span><span>{{ user.nom | raw }}</span>
                </p>
                <p>
                <span>Prénom :</span><span>{{ user.prenom | raw }}</span>
                </p>
                <p>
                <span>Email : </span><span>{{ user.email | raw }}</span>
                </p>
                <p>
                <span>Telephone : </span><span>{{ user.telephone | raw }}</span>
                </p>
                <p>
                <span>Adresse : </span><span>{{ user.adresse | raw }}</span>
                </p>
                <p>
                <span>Code postal : </span><span>{{ user.codepostal | raw }}</span>
                </p>
                <p>
                <span>Commune : </span><span>{{ user.commune | raw }}</span>
                </p>
                <p>
                <span>Pays : </span><span>{{ user.pays | raw }}</span>
                </p>

                <a class="btn btn-danger" href="{{ path('security_infouser', {'id': app.user.id}) }}">Modifier mes informations</a>

            </div>
            <div class="col-lg-8 col-md-12">

            <h2 class="text-center">Mes commandes</h2>

            {% for commande in commande %}

            {% if commande.statut is same as ('New') %}

            <table class="table">
            <tr class="table-success">

            <td><span>Commande du : </span><span>{{ commande.date | date('d/m/Y')  }}</span></td>

            <td><span>Prix total : </span><span>{{ commande.prixTotal }}</span><span> € </span></td>

            <td><span>Statut : </span><span>{{ commande.statut }}</span></td>

            <td><span>Retrait : </span><span>{{ commande.retrait }}</span></td>

            <td><a class="btn btn-secondary" href="{{ path('detail_commande', {'id': commande.id }) }}">Détails</a></td>

            </tr>

            </table>

            {% else %}

            <table class="table">
            <tr>

            <td><span>Commande du : </span><span>{{ commande.date | date('d/m/Y')  }}</span></td>

            <td><span>Prix total : </span><span>{{ commande.prixTotal }}</span><span> € </span></td>

            <td><span>Statut : </span><span>{{ commande.statut }}</span></td>

            <td><span>Retrait : </span><span>{{ commande.retrait }}</span></td>

            <td><a class="btn btn-secondary" href="{{ path('detail_commande', {'id': commande.id }) }}">Détails</a></td>

            </tr>

            </table>

            {% endif %}

            {% endfor %}

            </div>

        </div>

    </div>

{% endblock %}