{% extends 'base.html.twig' %}

{% block title %}Détail commande | {{ parent() }} {% endblock %}

{% block body %}

<div class="container py-5">

<h1 class="text-center">Détail commande</h1>

<p>
<span>Commande N° : </span><span>{{ commande.id }}</span>
</p>

<p>
<span>Commande du : </span><span>{{ commande.date | date('d/m/Y')  }}</span>
</p>

<p>Articles : </p>

<ul>

{% for produits in produits %}

{% if produits.commande.id is same as (commande.id) %}
<li>
<p>
<span>{{ produits.article.nomproduit }} | </span>
<span>Quantité : {{  produits.quantite }}</span>
</p>
</li>
{% endif %}

{% endfor %}

</ul>

<p>
<span>Prix total : </span><span>{{ commande.prixTotal }}</span><span> € </span>
</p>

<p>
<span>Retrait : </span><span>{{ commande.retrait }}</span>
</p>

<p>
<span>Statut : </span><span>{{ commande.statut }}</span>
</p>



{% endblock %}