{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe | {{ parent() }} {% endblock %}

{% block body %}


    <h1 class="text-center">Réinitialisation du mot de passe</h1>
<div class="container">
    <div class="row justify-content-center">
        {{ form(emailForm) }}
    </div>
</div>
{% endblock %}