{% extends 'base.html.twig' %}

{% block title %}Mes informations | {{ parent() }} {% endblock %}

{% block body %}

<h1 class="text-center">Mes informations</h1>

    <div class="container py-3">

        <div class="row justify-content-center">

            <div class="col lg-6">

            {{ form_start(formuser) }}

            {{ form_row(formuser.nom) }}

            {{ form_row(formuser.prenom, {'label': 'Prénom'}) }}

            {{ form_row(formuser.email, {'label': 'Adresse email'}) }}

            {{ form_row(formuser.telephone, {'label': 'Téléphone'}) }}

            {{ form_row(formuser.adresse) }}

            {{ form_row(formuser.codepostal, {'label': 'Code postal'}) }}

            {{ form_row(formuser.commune) }}

            {{ form_row(formuser.pays) }}

            <button type="submit" class="btn btn-success">Modifier</button>

            {{ form_end(formuser) }}


            </div>


        </div>

        <div class="row justify-content-center">

            <div class="col lg-6">

            <h2 class="text-center">Modifier mon mot de passe</h2>

            <a href="{{ path('security_forgottenpass') }}" class="btn btn-warning">Modifier le mot de passe</a>

            </div>


        </div>

    </div>

{% endblock %}