{% extends 'base.html.twig' %}

{% block title %}Inscription | {{ parent() }} {% endblock %}


{% block body %}

<h1 class="text-center">Inscription</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">

            {{ form_start(formUser) }}

            {{ form_row(formUser.nom, {'attr': {'placeholder': "Entrez votre nom"}}) }}

            {{ form_row(formUser.prenom, {'label': 'Prénom', 'attr': {'placeholder': "Entrez votre prénom"}}) }}

            {{ form_row(formUser.email, {'attr': {'placeholder': "Entrez votre email"}}) }}

            {{ form_row(formUser.telephone, {'label': 'Téléphone', 'attr': {'placeholder': "Entrez votre numéro de téléphone (sans espaces ni ponctuation; ex: 0102030405)"}}) }}

            {{ form_row(formUser.adresse, {'attr': {'placeholder': "Entrez votre adresse"}}) }}

            {{ form_row(formUser.codepostal, {'label': 'Code postal', 'attr': {'placeholder': "Entrez votre code postal"}}) }}

            {{ form_row(formUser.commune, {'attr': {'placeholder': "Entrez votre commune"}}) }}

            {{ form_row(formUser.pays, {'attr': {'placeholder': "Entrez votre pays"}}) }}

            {{ form_row(formUser.password, {'label': 'Mot de passe', 'attr': {'placeholder': "Entrez votre mot de passe"}}) }}

            {{ form_row(formUser.confirm_password, {'label': 'Confirmation du mot de passe', 'attr': {'placeholder': "Confirmez le mot de passe"}}) }}

            <button type="submit" class="btn btn-success">S'inscrire</button>

            {{ form_end(formUser) }}




        </div>
    </div>
</div>

{% endblock %}