{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe | {{ parent() }} {% endblock %}

{% block body %}


    <h1 class="text-center py-5">Réinitialiser le mot de passe</h1>
<div class="container">
    <div class="row justify-content-center">
        {{ form_start(formPass) }}

            {{ form_row(formPass.password, {'label': 'Entrez le nouveau mot de passe'}) }}

            {{ form_row(formPass.confirm_password, {'label': 'Confirmez le mot de passe'}) }}

            <button type="submit" class="btn btn-success">Valider</button>

        {{ form_end(formPass) }}

    </div>
</div>
{% endblock %}