@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

html {
    margin: 0;
    padding: 0;
}

/* HEADER */

.masthead {
    padding-top: 15%;
    height: 100vh;
    width: 100%;
    min-height: 500px;
    background-image: url("/img/pickles1.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.brand {
    margin-top: 50px;
    padding: 50px 0 50px 0;
    background: radial-gradient(#002B36, rgb(0, 56, 70));
    max-height: 200px;
}

.logo {
    width: 20%;
    min-width: 120px;
}

.brand-title {
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    color: rgba(255, 217, 0, 0.925);
}

.brand-title.text-responsive {
    font-size: calc(100% + 1.5vw + 1.5vh);
}

/* SITE ABOUT */

.container.about {
    margin-top: 100px;
}

.cadre {
    margin-top: 50px;
}

/* IMAGES PRODUITS */

.imgproduit {
    max-width: 350px;
    height: auto;
}

.imgdetail {
    max-width: 500px;
    height: auto;
}

/* Bouton  Haut de page" */
#btn-home {
    color: rgba(255, 217, 0, 0.925);
    font-size: 40px;
    margin-top: 0;
    padding: 20px;
    display: none;
    position: fixed;
    bottom: 2%;
    right: 2%;
}