{% extends 'admin.html.twig' %}

{% form_theme formProduit 'bootstrap_4_layout.html.twig' %}

{% block title %} Ajouter un produit | {{ parent() }} {% endblock %}


{% block body %}

<h1> Création d'un produit</h1>

<div class="container">
    <div class="row">
        <div class="col lg-6">

            {{ form_start(formProduit) }}

            {{ form_widget(formProduit) }}

            {{ form_end(formProduit) }}

            <a href="{{ path('admin_produits') }}" class="btn btn-secondary">Retour</a>

        </div>
    </div>
</div>

{% endblock %}