{% extends 'admin.html.twig' %}

{% block title %}Commandes | {{ parent() }} {% endblock %}


{% block body %}
<div class="container py-5">

<h2 class="text-center">Nouvelles commandes</h2>

            {% for commande in commande %}

            {% if commande.statut is same as ('New') %}

            <table class="table">
            <tr class="table-success">

            <td><span>Commande du : </span><span>{{ commande.date | date('d/m/Y')  }}</span></td>

            <td><span>Prix total : </span><span>{{ commande.prixTotal }}</span><span> € </span></td>

            <td><span>Statut : </span><span>{{ commande.statut }}</span></td>

            <td><span>User : </span><span>{{ commande.userId.email }}</span></td>

            <td><a class="btn btn-secondary" href="{{ path('admin_commandedetail', {'id': commande.id }) }}">Détails</a></td>

            </tr>

            </table>

            {% endif %}

            {% endfor %}

            {% for commande in commande %}

            {% if commande.statut is same as ('En cours') %}

            <table class="table">
            <tr class="table-primary">

            <td><span>Commande du : </span><span>{{ commande.date | date('d/m/Y')  }}</span></td>

            <td><span>Prix total : </span><span>{{ commande.prixTotal }}</span><span> € </span></td>

            <td><span>Statut : </span><span>{{ commande.statut }}</span></td>

            <td><span>User : </span><span>{{ commande.userId.email }}</span></td>

            <td><a class="btn btn-secondary" href="{{ path('admin_commandedetail', {'id': commande.id }) }}">Détails</a></td>

            </tr>

            </table>

            {% endif %}

            {% endfor %}

            {% for commande in commande %}

            {% if commande.statut is same as ('Prête') %}

            <table class="table">
            <tr class="table-warning">

            <td><span>Commande du : </span><span>{{ commande.date | date('d/m/Y')  }}</span></td>

            <td><span>Prix total : </span><span>{{ commande.prixTotal }}</span><span> € </span></td>

            <td><span>Statut : </span><span>{{ commande.statut }}</span></td>

            <td><span>User : </span><span>{{ commande.userId.email }}</span></td>

            <td><a class="btn btn-secondary" href="{{ path('admin_commandedetail', {'id': commande.id }) }}">Détails</a></td>

            </tr>

            </table>

            {% endif %}

            {% endfor %}

            {% for commande in commande %}

            {% if commande.statut is same as ('Terminée') %}

            <table class="table">
            <tr class="table-secondary">

            <td><span>Commande du : </span><span>{{ commande.date | date('d/m/Y')  }}</span></td>

            <td><span>Prix total : </span><span>{{ commande.prixTotal }}</span><span> € </span></td>

            <td><span>Statut : </span><span>{{ commande.statut }}</span></td>

            <td><span>User : </span><span>{{ commande.userId.email }}</span></td>

            <td><a class="btn btn-secondary" href="{{ path('admin_commandedetail', {'id': commande.id }) }}">Détails</a></td>

            </tr>

            </table>

            {% endif %}

            {% endfor %}



</div>

{% endblock %}