{% extends 'admin.html.twig' %}

{% block title %}Commandes | {{ parent() }} {% endblock %}


{% block body %}
<div class="container py-5">

<h1 class="text-center">Détail commande</h1>

<p>
<span>Commande N° : </span><span>{{ commande.id }}</span>
</p>

<p>
<span>Commande du : </span><span>{{ commande.date | date('d/m/Y')  }}</span>
</p>

<p>
<span>User : </span><span>{{ commande.userId.email }}</span>
</p>

<p>Articles : </p>

<ul>

{% for produits in produits %}

{% if produits.commande.id is same as (commande.id) %}
<li>
<p>
<span>{{ produits.article.nomproduit }} | </span>
<span>Quantité : {{  produits.quantite }}</span>
</p>
</li>
{% endif %}

{% endfor %}

</ul>

<p>
<span>Prix total : </span><span>{{ commande.prixTotal }}</span><span> € </span>
</p>

<p>
<span>Retrait : </span><span>{{ commande.retrait }}</span>
</p>

<p>
<span>Statut : </span><span>{{ commande.statut }}</span>
</p>

{% if commande.statut is same as ('New') %}

<a class="btn btn-success" href="{{ path('admin_setstatut', {'id': commande.id}) }}">En préparation</a>

{% elseif commande.statut is same as ('En cours') %}

<a class="btn btn-success" href="{{ path('admin_setstatut', {'id': commande.id}) }}">Prête</a>

{% elseif commande.statut is same as ('Prête') %}

<a class="btn btn-success" href="{{ path('admin_setstatut', {'id': commande.id}) }}">Terminer</a>

{% endif %}

<a class="btn btn-warning" href="#" onclick="return(confirm('Etes-vous sûr de vouloir annuler cette commande ?'));">Annuler</a>

<a href="{{ path('admin_commandes') }}" class="btn btn-secondary mx-2">Retour</a>




{% endblock %}
