{% extends 'admin.html.twig' %}

{% block title %}Admin | {{ parent() }} {% endblock %}


{% block body %}

<h1 class="text-center">Détail client</h1>

<div class="container">
    <div class="row">
        <article class="py-2">
            <div class="content">
                <span>Nom :</span>{{ user.nom | raw }}
                </br>
                <span>Prénom :</span>{{ user.prenom | raw }}
                </br>
                <span>Email : </span>{{ user.email | raw }}
                </br>
                <span>Telephone : </span>{{ user.telephone | raw }}
                </br>
                <span>Adresse : </span>{{ user.adresse | raw }}
                </br>
                <span>Code postal : </span>{{ user.codepostal | raw }}
                </br>
                <span>Commune : </span>{{ user.commune | raw }}
                </br>
                <span>Pays : </span>{{ user.pays | raw }}
                </br>

                <a href="{{ path('admin_deleteuser', {'id': user.id}) }}" class="btn btn-danger" onclick="return(confirm('Etes-vous sûr de vouloir supprimer cet utilisateur ?'));">Supprimer</a>

                <a href="{{ path('admin_users') }}" class="btn btn-secondary">Retour</a>
            </div>
        </article>
    </div>
</div>



{% endblock %}