{% extends 'admin.html.twig' %}

{% block title %}Tableau de bord | {{ parent() }} {% endblock %}


{% block body %}
<div class="container py-5">
    <h1 class="text-center">Tableau de bord</h1>

<div class="row justify-content-center">

            <div class="col-lg-4 col-md-12">

            <h2 class="text-center">Nouveaux avis</h2>

            {% for avis in avis %}

            {% if avis.valide is same as (false) %}

            <div>
                <p>
                <span>Produit :</span><span>{{ avis.produit.nomproduit }}</span>
                </p>
                <p>
                <span>User :</span><span>{{ avis.user.email }}</span>
                </p>
                <p>
                <span>Contenu : </span><span>{{ avis.contenu | raw }}</span>
                </p>

                <a href="{{ path('admin_valideavis', {'id': avis.id}) }}" class="btn btn-primary" onclick="return(confirm('Etes-vous sûr de vouloir valider cet avis ?'));">Valider</a>
                <a href="{{ path('admin_deleteavis', {'id': avis.id}) }}" class="btn btn-danger" onclick="return(confirm('Etes-vous sûr de vouloir supprimer cet avis ?'));">Supprimer</a>
            </div>

            {% endif %}

            {% endfor %}

            </div>
            <div class="col-lg-8 col-md-12">

            <h2 class="text-center">Nouvelles commandes</h2>

            {% for commande in commande %}

            {% if commande.statut is same as ('New') %}

            <table class="table">
            <tr class="table-success">

            <td><span>Commande du : </span><span>{{ commande.date | date('d/m/Y')  }}</span></td>

            <td><span>Prix total : </span><span>{{ commande.prixTotal }}</span><span> € </span></td>

            <td><span>Statut : </span><span>{{ commande.statut }}</span></td>

            <td><span>User : </span><span>{{ commande.userId.email }}</span></td>

            <td><a class="btn btn-secondary" href="{{ path('admin_commandedetail', {'id': commande.id }) }}">Détails</a></td>

            </tr>

            </table>

            {% endif %}

            {% endfor %}

            </div>

        </div>

    </div>
</div>


{% endblock %}