{% extends 'admin.html.twig' %}

{% block title %}Admin | {{ parent() }} {% endblock %}


{% block body %}
<div class="container">
<div class="row justify-content-center">


{% for produit in produits %}

<div class="col-lg-4 col-md-6 col-sm-12 col-12 py-3">
        <h2>{{ produit.nomproduit }}</h2>
            <img class="img-fluid imgproduit" src="{{ produit.image }}" alt="">
            <span>Description :</span>{{ produit.description | raw }}
            </br>
            <span>Composition :</span>{{ produit.compo | raw }}
            </br>
            <span>En stock : </span>{{ produit.stock }}
            </br>
            <span>Prix : </span>{{ produit.prix }} <span>€</span>
            </br>
            <a href="{{ path('admin_edit', {'id': produit.id}) }}" class="btn btn-primary">Editer</a>
            <a href="{{ path('admin_voiravis', {'id': produit.id}) }}" class="btn btn-secondary">Voir avis Clients</a>
</div>

{% endfor %}


</div>
</div>
{% endblock %}