{% extends 'admin.html.twig' %}

{% block title %}Admin | {{ parent() }} {% endblock %}


{% block body %}

<h1 class="text-center">Clients</h1>

<div class="container">
    <div class="row">

{% for user in user %}

        <div class="col-lg-4 col-md-6 col-sm-12 py-3">
            <article class="py-2">

                <span>Nom :</span>{{ user.nom | raw }}
                </br>
                <span>Prénom :</span>{{ user.prenom | raw }}
                </br>
                <span>Email : </span>{{ user.email }}
                </br>

                <a href="{{ path('admin_detailuser', {'id': user.id}) }}" class="btn btn-primary">Voir</a>

            </article>
        </div>

{% endfor %}

    </div>
</div>

{% endblock %}