{% extends 'admin.html.twig' %}

{% block title %}Admin | {{ parent() }} {% endblock %}


{% block body %}
<div class="container">
<div class="row justify-content-center">
<section class="produits">

    <article class="py-2">
        <h2>{{ produit.nomproduit }}</h2>
            <img src="{{ produit.image }}" alt="">
        <div class="content">
            <span>Description :</span>{{ produit.description | raw }}
            </br>
            <span>Composition :</span>{{ produit.compo | raw }}
            </br>
            <span>En stock : </span>{{ produit.stock }}
            </br>
            <span>Prix : </span>{{ produit.prix }} <span>€</span>
        </div>
    </article>

     <a href="{{ path('admin_produits') }}" class="btn btn-secondary">Retour</a>

<h2 class="text-center">{{ produit.avisClient | length }} avis</h2>

{% for avis in avis %}

<div class="row py-4">
        <article>
            <h3>{{ avis.user.prenom }}</h3>
                <div class="content">
                <span>Posté le : {{ avis.date | date('d/m/Y')}}</span>
                </br>
                    {{ avis.contenu | raw }}
                </div>
        </article>
    </div>

            {% if (avis.valide is same as(false)) %}

            <a href="{{ path('admin_valideavis', {'id': avis.id}) }}" class="btn btn-primary" onclick="return(confirm('Etes-vous sûr de vouloir valider cet avis ?'));">Valider</a>
            <a href="{{ path('admin_deleteavis', {'id': avis.id}) }}" class="btn btn-danger" onclick="return(confirm('Etes-vous sûr de vouloir supprimer cet avis ?'));">Supprimer</a>

            {% else %}

            <a href="{{ path('admin_deleteavis', {'id': avis.id}) }}" class="btn btn-danger" onclick="return(confirm('Etes-vous sûr de vouloir supprimer cet avis ?'));">Supprimer</a>

            {% endif %}

            {% endfor %}

</section>
</div>
</div>
{% endblock %}