{% extends 'base.html.twig' %}

{% block title %}Panier | {{ parent() }} {% endblock %}


{% block body %}

<h1 class="text-center py-5">Panier</h1>

{% if items | length > 0 %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Quantité</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>

        {% for item in items %}

            <tr>
                <td>{{ item.produit.nomproduit }}</td>
                <td>{{ item.produit.prix }} €</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.produit.prix * item.quantity }} €</td>
                <td>
                <a href="{{ path('shop_remove', {'id': item.produit.id }) }}" class="btn btn-danger btn-sm">Supprimer</a></td>
                <td></td>
            </tr>

        {% endfor %}

        </tbody>

        <tfoot>
            <tr>
                <td class="text-right">Je récupère ma commande : </td>
                <td>
                {{ form_start(formRetrait) }}

                {{ form_widget(formRetrait) }}


                    {# <label for="exampleSelect1">Example select</label> #}
                    {# <select class="form-control" id="select">
                        <option>A la ferme</option>
                        <option>Au marché</option>
                    </select> #}
                    
                </td>
                <td class="text-right">Total :</td>
                <td> {{ total }} €</td>
                {# <td><a href="{{ path('shop_order') }}" class="btn btn-warning">Commander</a></td> #}
                <td><button class="btn btn-warning" type="submit" onclick="return(confirm('Avez-vous bien séléctionné votre mode de retrait ?'));">Commander</button></td> {{ form_end(formRetrait) }}
                <td></td>
            </tr>

    </table>

    {% else %}

    <h2 class="text-center">Le panier est vide</h2>

    {% endif %}

{% endblock %}