<h1>Activation de votre compte</h1>

<p>Vous avez créé votre compte sur notre site L'apéro des potes! Veuillez cliquer sur le lien ci-dessous pour activer votre compte.</p>

<p><a href="{{ absolute_url(path('security_activation', {'token': token})) }}">Activer mon compte</a></p>