<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/img/logo.png" />
        <title>{% block title %}L'apéro des potes{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/30d8a6d306.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}">L'apéro des potes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('about') }}">A propos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('products') }}">Nos produits</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('location') }}">Où nous trouver</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('shop') }}">Shop</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('contact') }}">Nous contacter</a>
        </li>
        </ul>

        <ul class="navbar-nav ml-auto">

        {% if app.user %}

        <li class="nav-item">
            <a class="nav-link" href="{{ path('shop_panier') }}">Mon panier</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('security_compteuser') }}">Mon compte</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('security_deconnexion') }}">Se déconnecter</a>
        </li>

        {% else %}

        <li class="nav-item">
            <a class="nav-link" href="{{ path('security_connexion') }}">Se connecter</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('security_inscription') }}">S'inscrire</a>
        </li>

        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}

        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_home') }}">Espace admin</a>
        </li>

        {% endif %}

        </ul>
        </div>
        </nav>


        {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center" role="alert">
            {{ message }}
        </div>
        {% endfor %}

        {% for message in app.flashes('warning') %}
        <div class="alert alert-warning text-center" role="alert">
            {{ message }}
        </div>
        {% endfor %}

        {% for message in app.flashes('danger') %}
        <div class="alert alert-danger text-center" role="alert">
            {{ message }}
        </div>
        {% endfor %}

        {% block body %}{% endblock %}

        <a onclick="topFunction()" id="btn-home" href="#header"><i class="fas fa-arrow-circle-up"></i></a>

        {% block javascripts %}
        <script>
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 40) {
            document.getElementById("btn-home").style.display = "block";
            } else {
            document.getElementById("btn-home").style.display = "none";
            }
        }

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
        </script>
        {% endblock %}
    </body>
</html>
